p{
  font-family: 'Roboto', sans-serif;
}

.heading-container{
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        box-sizing: border-box;
        border-bottom: 1px solid gray;
      }
      .side-panel{
        display: flex;
        flex-direction: column;
        
        width: 200px;
        height: 750px;
        
        box-sizing: border-box;
        border-right: 1px solid gray;
      ;
      }
      .panel-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        
        margin: 0px 8px 2px 0px;
        padding: 8px 0px 8px 16px;

      }
      .icon{
       margin: 0px 0px 0px 8px;
      }
    


      main{
        display: grid;
        grid-template-columns: 210px 1fr;
     
      }
      
      .name-text{
        font-size: 25px;
        font-weight: 200;

        display: flex;
        flex-direction: row;
        align-items: center;
        /*margin: 0px 8px 2px 0px;*/
        padding: 10px 0px 0px 0px;
        
      }
      .overviewPanel{
        display: flex;
        flex-direction: column;
      }
      .overview-content-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        padding: 10px 0px 0px 0px;
      }
      .overview-content,
      .overview-content2{
        flex: 1 1 45%;
        width: 45%;
        border: 1px solid gray;
        padding: 4px 10px 0px 8px;
      }
      .overview-content{
        margin: 10px 8px 2px 0px;
        height: 600px;
      }
      .overview-content2{
        margin: 10px 0px 0px 0px;
        height: 200px;
      }
      .overview-txt{
        margin-bottom: 10px;
        font-style: italic;
        font-size: 20px;

      }
      
      