p{
  font-family: 'Roboto', sans-serif;
}
main{
        display: grid;
        grid-template-columns: 210px 1fr;
     
      }
a{
  text-decoration: none;
  color: black;
}
.heading-container{
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        box-sizing: border-box;
        border-bottom: 1px solid gray;
      }
      /*styling the overview panel*/
      .side-panel{
        display: flex;
        flex-direction: column;
        
        width: 200px;
        height: 750px;
        
        box-sizing: border-box;
        border-right: 1px solid gray;
        padding-top: 10px;
      ;
      }
      .panel-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        
        margin: 0px 8px 2px -8px;
        padding: 8px 0px 8px 16px;
      }
      .panel-container:hover{
        background-color: rgb(235 235 235);
        cursor: pointer;
      }
      .panel-container:active{
        
        background-color: lightgray;
      }
      .icon{
       margin: 0px 0px 0px 8px;
      }

      .panel-btn{
        width: 200px;
        justify-content: center;
        align-items: baseline;
      }
      
      .name-text{
        font-size: 25px;
        font-weight: 200;

        display: flex;
        flex-direction: row;
        align-items: center;
        /*margin: 0px 8px 2px 0px;*/
        padding: 10px 0px 0px 0px;
        
      }
      .overviewPanel{
        display: flex;
        flex-direction: column;
      }
      
      .overview-content-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        padding: 10px 0px 0px 0px;
      }
      .overview-content,
      .overview-content2{
        flex: 1 1 45%;  /*making the divs have the same width*/
        width: 45%;
        border: 1px solid gray;
        padding: 4px 10px 0px 8px;
      }
      .overview-content{
        margin: 10px 8px 2px 0px;
        height: 600px;
      }
      .overview-content2{
        margin: 10px 0px 0px 0px;
        height: 200px;
      }
      .overview-txt{
        margin-bottom: 10px;
        font-style: italic;
        font-size: 20px;

      }

      /*styling the notes section*/
      .notes-content{
        border: 1px solid gray;
        margin: 10px 0px 0px 0px;
        padding: 0px 4px 4px 10px;
      }
      .material-heading{
        font: 18px 'Roboto', sans-serif;
        color: white;
        background-color: green;
        margin: 30px 30px 10px 10px;
      }
      .material-txt{
        padding: 4px 10px;
      }

      .notes-items{
       
        padding: 20px 10px 20px 10px;
        margin: 20px 10px 20px 10px;
       
      }
      .notesLink{
        color: black;
        font: 20px 'Roboto', sans-serif;
        background-color: #e3e4e5;
        margin: 0px 4px 0px 0px;
        padding: 10px 16px;
        border-radius: 6px;
        border: 1px solid gray;
      }

      /*styling the video library panel*/
      .video-grid-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 10px;
        
      }
      @media (max-width: 750px) {
        .video-grid-container { 
        grid-template-columns: repeat(2, 1fr);
      }
      }
      

      .video-grid{
        margin: 0px 8px 12px 0px;
        border: 1px solid gray;
      }
      .video-txt{
        padding: 4px;
      }
      